.hkdevs-drawer {
    position: fixed;
    top: 0;
    width: var(--hkdevsDrawerWidth);
    height: 100%;
    z-index: 9999;
    height: 100%;
    transition: all 0.2s linear;
}

.hkdevs-drawer.right {
    right: calc(-1 * var(--hkdevsDrawerWidth));
}

.hkdevs-drawer.left {
    left: calc(-1 * var(--hkdevsDrawerWidth));
}

.hkdevs-drawer .drawer-overlay {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
}

.hkdevs-drawer .drawer-wrapper {
    position: relative;
    background: #ffffff;
    height: 100vh;
    padding: 28px 81px 28px 24px;
    box-sizing: border-box;
}

.hkdevs-drawer .drawer-wrapper.scroll {
    overflow: scroll;
    scrollbar-width: none;
}

.hkdevs-drawer .drawer-wrapper.scroll::-webkit-scrollbar {
    display: none;
}

.hkdevs-drawer .drawer-wrapper .close {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 18px;
    right: 28px;
    transition: all 0.1s linear;
}

.hkdevs-drawer .drawer-wrapper .close .cross {
    font-size: 20px;
}

.hkdevs-drawer .drawer-wrapper .close:hover {
    color: rgba(0, 0, 0, 0.8);
}

.hkdevs-drawer.open.right {
    right: 0;
}

.hkdevs-drawer.open.left {
    left: 0;
}

.hkdevs-drawer.open .drawer-overlay {
    opacity: 1;
    visibility: visible;
}


.hkdevs-drawer .drawer-overlay {
    background: #121224;
    background: var(--N800, #121224);
    opacity: .3 !important
}

.hkdevs-drawer .drawer-wrapper {
    background: #fff;
    background: var(--N100, #fff);
    border-radius: 20px 0 0 20px
}

.hkdevs-drawer .drawer-wrapper > a.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px
}

.hkdevs-drawer .drawer-wrapper > a.close > i:before {
    color: #717b9e;
    color: var(--N600, #717b9e)
}

.hkdevs-drawer .drawer-wrapper > .login-layer {
    margin: initial;
    width: 410px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .head {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .head > a {
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none
}

.hkdevs-drawer .drawer-wrapper > .login-layer form {
    margin-top: 30px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .server-err {
    color: #f04141 !important;
    color: var(--I100, #f04141) !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .input-box .error {
    border-color: #f04141 !important;
    border-color: var(--I100, #f04141) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .loginButton {
    background: #275df5;
    background: var(--P100, #275df5);
    border-radius: 60px;
    color: #fff;
    color: var(--N100, #fff);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 20px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .btn-primary {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 9px 0 11px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .label {
    padding-top: 6px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt {
    border: 1px solid #e7e7f1;
    border: 1px solid var(--N400, #e7e7f1);
    border-radius: 16px;
    font-weight: 500;
    margin-top: 7px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt:focus {
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5)
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt::-webkit-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt::-moz-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt:-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt::-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .mobileInputt::placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .bdunset {
    margin-top: 8px !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .disable {
    border: none;
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-left: -9px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .input-box .unit {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput {
    margin-top: 18px !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .inputHeader {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput {
    border: 1px solid #e7e7f1;
    border: 1px solid var(--N400, #e7e7f1);
    border-radius: 16px;
    font-weight: 500;
    height: 44px;
    margin-top: 7px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput:focus {
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5)
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput::-webkit-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput::-moz-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput:-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput::-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .otpInput .mobileInput::placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .label .mobiledescription {
    color: #717b9e;
    color: var(--N600, #717b9e);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 0
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .label .mobiledescription > a {
    color: #275df5 !important;
    color: var(--P100, #275df5) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .label .err {
    color: #f04141;
    color: var(--I100, #f04141);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    padding: 0
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .partialMessageLabel {
    margin-top: 25px !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .col .partialMessageLabel .mobiledescription {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .sndbtn {
    background: #275df5;
    background: var(--P100, #275df5);
    border-radius: 60px;
    color: #fff;
    color: var(--N100, #fff);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 30px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .disabled {
    opacity: .3
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .orSec .email-btn-block {
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5);
    border-radius: 60px;
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 20px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .otpMobileVerifyContainer .inputHeader {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row {
    margin-bottom: 31px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input {
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #e7e7f1;
    border: 1px solid var(--N400, #e7e7f1);
    border-radius: 16px;
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    line-height: 20px;
    padding: 12px 16px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input:focus {
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5)
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input::-webkit-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input::-moz-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input:-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input::-ms-input-placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row input::placeholder {
    color: #979ec2 !important;
    color: var(--N500, #979ec2) !important
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row .err {
    color: #f04141;
    color: var(--I100, #f04141);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 6px;
    padding: 0;
    position: absolute
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row .err-border {
    border: 1px solid #f04141;
    border: 1px solid var(--I100, #f04141)
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row .blue-text .fs13 {
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 14px !important;
    font-weight: 700;
    line-height: 18px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .form-row .label {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 6px;
    padding-top: 0
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .forgot-pass {
    margin-top: -28px
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .forgot-pass > a {
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .orSec .ortext {
    margin-top: 20px;
    text-transform: capitalize
}

.hkdevs-drawer .drawer-wrapper > .login-layer form .orSec > .otpButton {
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 16px;
    font-weight: 700;
    height: 20px !important;
    line-height: 20px;
    margin-bottom: 0 !important;
    margin-top: 30px;
    padding: 0
}

.hkdevs-drawer .drawer-wrapper > .login-layer .or-sec {
    margin-bottom: 30px;
    margin-top: 30px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .or-sec .or-text {
    left: 46%;
    text-transform: capitalize;
    width: 30px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .social-media {
    margin-top: 0
}

.hkdevs-drawer .drawer-wrapper > .login-layer .social-media .google {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: normal;
    background: #fff !important;
    background: var(--N100, #fff) !important;
    border: 1px solid #275df5 !important;
    border: 1px solid var(--P100, #275df5) !important;
    border-radius: 60px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 40px;
    justify-content: center !important;
    width: 410px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .social-media .google .google-icn {
    background-size: 14px 14px;
    height: 14px;
    margin: 12px 0 0 10px;
    width: 14px
}

.hkdevs-drawer .drawer-wrapper > .login-layer .social-media .google > span {
    color: #275df5;
    color: var(--P100, #275df5);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    padding: 9px 0 11px
}
