@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4OmYWRjRdE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    src: url(https://static.naukimg.com/s/0/0/c/fonts/static/satoshi/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2) format("woff2")
}

@font-face {
    ascent-override: 102.23%;
    descent-override: 24.29%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 400;
    line-gap-override: 10.12%;
    size-adjust: 98.8%;
    src: local("Arial")
}

@font-face {
    ascent-override: 99.15%;
    descent-override: 23.56%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 500;
    line-gap-override: 9.82%;
    size-adjust: 101.86%;
    src: local("Arial")
}

@font-face {
    ascent-override: 103.72%;
    descent-override: 24.65%;
    font-display: swap;
    font-family: Satoshi Fallback;
    font-style: normal;
    font-weight: 700;
    line-gap-override: 10.27%;
    size-adjust: 97.38%;
    src: local("Arial Bold")
}

@font-face {
    font-family: icon;
    src: url(//static.naukimg.com/s/7/103/i/fonts/icon/icon.9151658ff753cac8b08a8d84e197c046.woff2) format("woff2"), url(//static.naukimg.com/s/7/103/i/fonts/icon/icon.d8a3fc98d237e31920a6adc420892204.woff) format("woff");
    font-display: swap
}