* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box
}

a,
a:focus,
a:hover,
a:visited {
    outline: none;
    text-decoration: none
}

body,
div,
a,
p,
span {
    user-select: text !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: auto;
    user-select: text !important;
}

::selection {
    background-color: #338FFF !important;
    color: #fff !important;
}

.color-white {
    color: #fff
}

.border-white {
    border-color: #fff
}

.bg-white {
    background-color: #fff
}

.color-p050 {
    color: #fcfdff
}

.color-p100 {
    color: #e8effe
}

.color-p200 {
    color: #d9e4ff
}

.color-p300 {
    color: #9cb7ff
}

.color-p400 {
    color: #618bfa
}

.color-p500 {
    color: #3d68d9
}

.color-p600 {
    color: #2d57c6
}

.color-p700 {
    color: #1e45ad
}

.color-p800 {
    color: #143898
}

.color-p900 {
    color: #092778
}

.bg-p050 {
    background-color: #fcfdff
}

.bg-p100 {
    background-color: #e8effe
}

.bg-p200 {
    background-color: #d9e4ff
}

.bg-p300 {
    background-color: #9cb7ff
}

.bg-p400 {
    background-color: #618bfa
}

.bg-p500 {
    background-color: #3d68d9
}

.bg-p600 {
    background-color: #2d57c6
}

.bg-p700 {
    background-color: #1e45ad
}

.bg-p800 {
    background-color: #143898
}

.bg-p900 {
    background-color: #092778
}

.border-p050 {
    border-color: #fcfdff !important
}

.border-p100 {
    border-color: #e8effe !important
}

.border-p200 {
    border-color: #d9e4ff !important
}

.border-p300 {
    border-color: #9cb7ff !important
}

.border-p400 {
    border-color: #618bfa !important
}

.border-p500 {
    border-color: #3d68d9 !important
}

.border-p600 {
    border-color: #2d57c6 !important
}

.border-p700 {
    border-color: #1e45ad !important
}

.border-p800 {
    border-color: #143898 !important
}

.border-p900 {
    border-color: #092778 !important
}

.color-s100 {
    color: #fff1ed
}

.color-s200 {
    color: #ffbfad
}

.color-s300 {
    color: #ff937a
}

.color-s400 {
    color: #ff7555
}

.bg-s100 {
    background-color: #fff1ed
}

.bg-s200 {
    background-color: #ffbfad
}

.bg-s300 {
    background-color: #ff937a
}

.bg-s400 {
    background-color: #ff7555
}

.border-s100 {
    border-color: #fff1ed !important
}

.border-s200 {
    border-color: #ffbfad !important
}

.border-s300 {
    border-color: #ff937a !important
}

.border-s400 {
    border-color: #ff7555 !important
}

.color-a050 {
    color: #fdf5f4
}

.color-a100 {
    color: #f2fcff
}

.color-a200 {
    color: #c3f0ff
}

.color-a300 {
    color: #fefbef
}

.color-a400 {
    color: #f8eab7
}

.color-a500 {
    color: #f7f8ff
}

.color-a600 {
    color: #dfe2ff
}

.color-a700 {
    color: #c61c15
}

.color-a800 {
    color: #b41006
}

.color-a900 {
    color: #8d0500
}

.bg-a050 {
    background-color: #fdf5f4
}

.bg-a100 {
    background-color: #f2fcff
}

.bg-a200 {
    background-color: #c3f0ff
}

.bg-a300 {
    background-color: #fefbef
}

.bg-a400 {
    background-color: #f8eab7
}

.bg-a500 {
    background-color: #f7f8ff
}

.bg-a600 {
    background-color: #dfe2ff
}

.bg-a700 {
    background-color: #c61c15
}

.bg-a800 {
    background-color: #b41006
}

.bg-a900 {
    background-color: #8d0500
}

.border-a050 {
    border-color: #fdf5f4 !important
}

.border-a100 {
    border-color: #f2fcff !important
}

.border-a200 {
    border-color: #c3f0ff !important
}

.border-a300 {
    border-color: #fefbef !important
}

.border-a400 {
    border-color: #f8eab7 !important
}

.border-a500 {
    border-color: #f7f8ff !important
}

.border-a600 {
    border-color: #dfe2ff !important
}

.border-a700 {
    border-color: #c61c15 !important
}

.border-a800 {
    border-color: #b41006 !important
}

.border-a900 {
    border-color: #8d0500 !important
}

.color-n100 {
    color: #fff
}

.color-n200 {
    color: #eaf1f5
}

.color-n300 {
    color: #d3e1ea
}

.color-n400 {
    color: #e3e7f1
}

.color-n500 {
    color: #8292b4
}

.color-n600 {
    color: #445578
}

.color-n700 {
    color: #091e42
}

.color-n800 {
    color: #1b2437
}

.color-n900 {
    color: #010c1f
}

.bg-n100 {
    background-color: #fff
}

.bg-n200 {
    background-color: #eaf1f5
}

.bg-n300 {
    background-color: #d3e1ea
}

.bg-n400 {
    background-color: #e3e7f1
}

.bg-n500 {
    background-color: #8292b4
}

.bg-n600 {
    background-color: #445578
}

.bg-n700 {
    background-color: #091e42
}

.bg-n800 {
    background-color: #1b2437
}

.bg-n900 {
    background-color: #010c1f
}

.border-n100 {
    border-color: #fff !important
}

.border-n200 {
    border-color: #eaf1f5 !important
}

.border-n300 {
    border-color: #d3e1ea !important
}

.border-n400 {
    border-color: #e3e7f1 !important
}

.border-n500 {
    border-color: #8292b4 !important
}

.border-n600 {
    border-color: #445578 !important
}

.border-n700 {
    border-color: #091e42 !important
}

.border-n800 {
    border-color: #1b2437 !important
}

.border-n900 {
    border-color: #010c1f !important
}

.color-success {
    color: #31ab3d
}

.color-success-subtle {
    color: #e1f3e9
}

.color-success-dark {
    color: #16944b
}

.color-warning {
    color: #ffab00
}

.color-warning-subtle {
    color: #feecc9
}

.color-warning-dark {
    color: #ffa800
}

.color-error {
    color: #ee5c5c
}

.color-error-subtle {
    color: #ffdede
}

.color-error-dark {
    color: #d4000b
}

.bg-success {
    background-color: #31ab3d
}

.bg-success-subtle {
    background-color: #e1f3e9
}

.bg-success-dark {
    background-color: #16944b
}

.bg-warning {
    background-color: #ffab00
}

.bg-warning-subtle {
    background-color: #feecc9
}

.bg-warning-dark {
    background-color: #ffa800
}

.bg-error {
    background-color: #ee5c5c
}

.bg-error-subtle {
    background-color: #ffdede
}

.bg-error-dark {
    background-color: #d4000b
}

.border-success {
    border-color: #31ab3d !important
}

.border-success-subtle {
    border-color: #e1f3e9 !important
}

.border-success-dark {
    border-color: #16944b !important
}

.border-warning {
    border-color: #ffab00 !important
}

.border-warning-subtle {
    border-color: #feecc9 !important
}

.border-warning-dark {
    border-color: #ffa800 !important
}

.border-error {
    border-color: #ee5c5c !important
}

.border-error-subtle {
    border-color: #ffdede !important
}

.border-error-dark {
    border-color: #d4000b !important
}

.color-facebook {
    color: #3b5998
}

.color-twitter {
    color: #55acee
}

.color-medium {
    color: #00ab6b
}

.color-dribbble {
    color: #ea4c89
}

.color-linkedin {
    color: #0077b5
}

.bg-facebook {
    background-color: #3b5998
}

.bg-twitter {
    background-color: #55acee
}

.bg-medium {
    background-color: #00ab6b
}

.bg-dribbble {
    background-color: #ea4c89
}

.bg-linkedin {
    background-color: #0077b5
}

.heading-xxl {
    font-size: 40px;
    line-height: 56px
}

.heading-xl {
    font-size: 36px;
    line-height: 52px
}

.global-title-1 {
    font-size: 32px;
    line-height: 28px
}

.heading {
    font-size: 28px;
    line-height: 40px
}

.title-l {
    font-size: 24px;
    line-height: 34px
}

.main-6 {
    font-size: 21px
}

.main-5,
.main-6 {
    line-height: 28px
}

.main-5 {
    font-size: 19px
}

.main-4-24 {
    font-size: 15px;
    line-height: 24px
}

.main-4 {
    font-size: 17px;
    line-height: 22px
}

.main-3 {
    font-size: 15px;
    line-height: 20px
}

.main-3-18 {
    font-size: 15px;
    line-height: 18px
}

.main-2 {
    font-size: 13px
}

.main-1,
.main-2 {
    line-height: 14px
}

.main-1 {
    font-size: 11px
}

.body-xxs {
    font-size: 8px;
    line-height: 12px
}

input::-ms-clear,
input::-ms-reveal {
    display: none
}

body {
    background: #fff;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #1b2437
}

.container {
    width: 1120px;
    margin: auto
}

.container * {
    box-sizing: border-box
}

.container .content .focusable:focus {
    outline-style: none
}

.focusable:focus {
    outline-style: dotted
}

img[src*="https://logs.hkdevs.com"] {
    display: none !important
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.right-arrow:after {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: solid #8292b4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hide {
    display: none
}


.app-icon {
    line-height: 1
}

.app-icon:before {
    font-family: icon !important;
    font-style: normal;
    font-weight: 400 !important;
    vertical-align: top
}

.app-icon-add:before {
    content: "\f101"
}

.app-icon-arrow-left:before {
    content: "\f102"
}

.app-icon-arrow:before {
    content: "\f103"
}

.app-icon-calendar:before {
    content: "\f104"
}

.app-icon-cmp-tick:before {
    content: "\f105"
}

.app-icon-cross-drawer:before {
    content: "\f106"
}

.app-icon-cross-new:before {
    content: "\f107"
}

.app-icon-cross-one-theme:before {
    content: "\f108"
}

.app-icon-cross:before {
    content: "\f109"
}

.app-icon-crossIcon:before {
    content: "\f10a"
}

.app-icon-experience:before {
    content: "\f10b"
}

.app-icon-filter:before {
    content: "\f10c"
}

.app-icon-history:before {
    content: "\f10d"
}

.app-icon-homeIcon:before {
    content: "\f10e"
}

.app-icon-leftArrow:before {
    content: "\f10f"
}

.app-icon-location:before {
    content: "\f110"
}

.app-icon-magnify:before {
    content: "\f111"
}

.app-icon-nauk-check-box-checked:before {
    content: "\f112"
}

.app-icon-nauk-check-box:before {
    content: "\f113"
}

.app-icon-one-theme-button-close:before {
    content: "\f114"
}

.app-icon-onetheme-arrow:before {
    content: "\f115"
}

.app-icon-onethemearrow:before {
    content: "\f116"
}

.app-icon-oneThemeCross:before {
    content: "\f117"
}

.app-icon-onethemestar:before {
    content: "\f118"
}

.app-icon-pencil-ic:before {
    content: "\f119"
}

.app-icon-pencil:before {
    content: "\f11a"
}

.app-icon-Pointer:before {
    content: "\f11b"
}

.app-icon-restart:before {
    content: "\f11c"
}

.app-icon-rightArrow:before {
    content: "\f11d"
}

.app-icon-search:before {
    content: "\f11e"
}

.app-icon-star:before {
    content: "\f11f"
}

.app-icon-tick:before {
    content: "\f120"
}

.app-icon-user:before {
    content: "\f121"
}

.app-icon-xIcon:before {
    content: "\f122"
}

.valign-wrapper .preloader-txt {
    margin-top: 8px;
    font-family: Roboto;
    font-weight: 500
}

.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px
}

.preloader-wrapper.small {
    width: 36px;
    height: 36px
}

.preloader-wrapper.big {
    width: 64px;
    height: 64px
}

.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}


.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: color("teal", "lighten-1")
}

.spinner-blue,
.spinner-blue-only {
    border-color: #4285f4
}

.spinner-red,
.spinner-red-only {
    border-color: #db4437
}

.spinner-yellow,
.spinner-yellow-only {
    border-color: #f4b400
}

.spinner-green,
.spinner-green-only {
    border-color: #0f9d58
}

.active .spinner-layer.spinner-blue {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.active .spinner-layer.spinner-red {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.active .spinner-layer.spinner-yellow {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.active .spinner-layer.spinner-green {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.active .spinner-layer,
.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-green-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}


.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.gap-patch .circle {
    width: 1000%;
    left: -450%
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border: 3px solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg)
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}

.active .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}


#spinnerContainer.cooldown {
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out .4s cubic-bezier(.4, 0, .2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out .4s cubic-bezier(.4, 0, .2, 1)
}

.qsb-header-container {
    padding: 70px 0 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #f5f4fa, rgba(251, 251, 253, 0))
}

.qsb-header-container * {
    font-family: "Satoshi";
    font-family: var(--font-family, "Satoshi")
}

.qsb-header-container .qsb-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    color: var(--N800);
    margin-bottom: 10px
}

.qsb-header-container .qsb-byLine {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--N800)
}

.companyListingTitle {
    color: var(--N800);
    margin: 36px 0 24px;
    max-height: 100px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px
}

.companyListingTitle .animated-background {
    height: 50px;
    background: linear-gradient(90deg, var(--N400) 8%, var(--N400) 18%, var(--N400) 33%);
    border-radius: 10px;
    opacity: .5
}

.companyListingTitle .animated-background:first-of-type {
    width: 100%
}

.companyListingTitle:first-letter {
    text-transform: uppercase
}

.privacy-policy-container {
    font-family: "Satoshi";
    font-family: var(--font-family, "Satoshi");
    z-index: 1000;
    background-color: rgba(27, 36, 55, .8);
    border: 1px solid #eaf1f5;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    position: fixed;
    bottom: 0;
    width: 100%
}

.privacy-policy-container span {
    color: #fff
}

.privacy-policy-container a {
    color: var(--P100);
    font-weight: 700
}

.privacy-policy-container .acceptance-btn {
    display: flex;
    padding: 10px 16px;
    background: var(--P100);
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer
}

.privacy-policy-container .acceptance-btn .acceptance-btn-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff
}

.gnb-foremp-disable-pointer-events .hk-devs-foremp {
    pointer-events: none
}

.typ-40Medium {
    font-size: 40px;
    font-weight: 500;
    line-height: 31px
}

.typ-24Black {
    font-size: 24px;
    font-weight: 900;
    line-height: 30px
}

.typ-20Bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px
}

.typ-18Bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px
}

.typ-16Bold {
    font-weight: 700
}

.typ-16Bold,
.typ-16Medium {
    font-size: 16px;
    line-height: 20px
}

.typ-16Medium {
    font-weight: 500
}

.typ-14Bold {
    font-weight: 700
}

.typ-14Bold,
.typ-14Medium {
    font-size: 14px;
    line-height: 18px
}

.typ-14Medium {
    font-weight: 500
}

.typ-14Regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px
}

.typ-12Bold {
    font-weight: 700
}

.typ-12Bold,
.typ-12Medium {
    font-size: 12px;
    line-height: 15px
}

.typ-12Medium {
    font-weight: 500
}

.typ-12Regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px
}

.typ-11Bold {
    font-weight: 700
}

.typ-11Bold,
.typ-11Medium {
    font-size: 11px;
    line-height: 14px
}

.typ-11Medium {
    font-weight: 500
}

.typ-11Regular {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px
}

[data-theme=one-theme] {
    --font-family: Satoshi, "Satoshi Fallback";
    --P100: #275df5;
    --P200: #b0c8ff;
    --S100: #f05537;
    --S200: #ffbfad;
    --N100: #fff;
    --N200: #fff;
    --N300: #f7f7f9;
    --N400: #e7e7f1;
    --N500: #979ec2;
    --N600: #717b9e;
    --N700: #474d6a;
    --N800: #121224;
    --I100: #f04141;
    --I200: #47b749;
    --I300: #fdaa29;
    --I400: #8951ff;
    --A100: #ffedf2;
    --A200: #efedff;
    --A300: #ecf5ff;
    --A400: #fff3dd;
    --A500: #ffedf2;
    --D100: #0d1734;
    --D200: #35063e;
    --G100_T: #fff;
    --G100_B: #ffedf2;
    --G200_T: #fff;
    --G200_B: #efedff;
    --G300_T: #fff;
    --G300_B: #edf4ff;
    --G400_T: #fff;
    --G400_B: #fff3dd;
    --V100: rgba(236, 245, 255, 0.5019607843137255);
    --box-shadow1: 0px 6px 12px rgba(30, 10, 58, 0.04);
    --box-shadow2: 0px 6px 25px rgba(30, 10, 58, 0.08);
    --border: 1px solid #e7e7f1;
    --br10: 10px;
    --background: #f5f5f5;
    --missingDetailsBg: #fff5f5;
    --profilePerfBg: #ecf5ff
}

.demo-container {
    height: 500px;
    width: 600px;
    background-color: var(--N400)
}


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    word-wrap: break-word;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

li,
ul {
    list-style-type: none
}

[hidden] {
    display: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input {
    box-sizing: border-box
}

@media only screen and (max-width: 1270px) {
    html {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

.container .content .chip {
    background: #fff;
    border: 1px solid #d3e1ea;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #445578;
    width: auto;
    height: auto;
    padding: 4px 12px;
    border-radius: 14px;
    margin: 6px 6px 0 0;
    display: inline-block;
    max-width: 100%
}

.container .content .chip .cityCustomTag {
    display: flex;
    align-items: center;
    margin: 0
}

.container .content .chip .cityCustomTag .cityTagLabel {
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0
}

.container .content .chip .crossButton {
    opacity: 1;
    position: relative;
    height: auto;
    width: auto;
    color: #445578;
    margin-left: 8px;
    padding: 5px;
    font-size: 8px
}

.container .content .chip .crossButton .app-icon {
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: inherit;
    font-size: 8px
}

.container .content .chip.selected {
    background: #fff1ed;
    border: 1px solid #ffbfad;
    color: #1b2437
}

.container .content .chip.selected .cityTagLabel {
    font-weight: 600
}

.container .content .chip.multi .crossButton .resman-icon {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    color: #8292b4
}
