* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box
}

a,
a:focus,
a:hover,
a:visited {
    outline: 0;
    text-decoration: none
}

a,
body,
div,
p,
span {
    user-select: text !important
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: auto;
    user-select: text !important
}

input::-ms-clear,
input::-ms-reveal {
    display: none
}

body {
    background: #fff;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #1b2437
}

.container {
    width: 1120px;
    margin: auto
}

.container * {
    box-sizing: border-box
}

img[src*="https://logs.hkdevs.com"] {
    display: none !important
}

.qsb-header-container {
    padding: 70px 0 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #f5f4fa, rgba(251, 251, 253, 0))
}

.qsb-header-container * {
    font-family: var(--font-family, "Satoshi")
}

.qsb-header-container .qsb-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    color: var(--N800);
    margin-bottom: 10px
}

.qsb-header-container .qsb-byLine {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--N800)
}

[data-theme=one-theme] {
    --font-family: Satoshi, "Satoshi Fallback";
    --P100: #275df5;
    --P200: #b0c8ff;
    --S100: #f05537;
    --S200: #ffbfad;
    --N100: #fff;
    --N200: #fff;
    --N300: #f7f7f9;
    --N400: #e7e7f1;
    --N500: #979ec2;
    --N600: #717b9e;
    --N700: #474d6a;
    --N800: #121224;
    --I100: #f04141;
    --I200: #47b749;
    --I300: #fdaa29;
    --I400: #8951ff;
    --A100: #ffedf2;
    --A200: #efedff;
    --A300: #ecf5ff;
    --A400: #fff3dd;
    --A500: #ffedf2;
    --D100: #0d1734;
    --D200: #35063e;
    --G100_T: #fff;
    --G100_B: #ffedf2;
    --G200_T: #fff;
    --G200_B: #efedff;
    --G300_T: #fff;
    --G300_B: #edf4ff;
    --G400_T: #fff;
    --G400_B: #fff3dd;
    --V100: rgba(236, 245, 255, 0.5019607843137255);
    --box-shadow1: 0px 6px 12px rgba(30, 10, 58, 0.04);
    --box-shadow2: 0px 6px 25px rgba(30, 10, 58, 0.08);
    --border: 1px solid #e7e7f1;
    --br10: 10px;
    --background: #f5f5f5;
    --missingDetailsBg: #fff5f5;
    --profilePerfBg: #ecf5ff
}

a,
b,
body,
center,
details,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
main,
nav,
object,
p,
s,
section,
span,
sub,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    word-wrap: break-word;
    box-sizing: border-box
}

details,
footer,
header,
main,
nav,
section {
    display: block
}

li,
ul {
    list-style-type: none
}

[hidden] {
    display: none
}

input {
    box-sizing: border-box
}

@media only screen and (max-width:1270px) {
    html {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

.container .content .chip {
    background: #fff;
    border: 1px solid #d3e1ea;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #445578;
    width: auto;
    height: auto;
    padding: 4px 12px;
    border-radius: 14px;
    margin: 6px 6px 0 0;
    display: inline-block;
    max-width: 100%
}