.page-preloader div {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 62px;
    height: 62px;
    border: 3px solid #4a90e2;
    border-top-color: transparent;
    border-radius: 50%;
    animation: page-loader 1s linear infinite;
}

@keyframes page-loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hk-devs-icn {
    line-height: 1;
}

.hk-devs- .hk-devs-icn:before {
    font-family: hk-devs-icons !important;
    font-style: normal;
    font-weight: 400;
    vertical-align: top;
}

.hk-devs-icn-bell:before {
    content: "\f101";
}

.hk-devs-icn-blog:before {
    content: "\f102";
}

.hk-devs-icn-cross-drawer:before {
    content: "\f103";
}

.hk-devs-icn-edit_icon:before {
    content: "\f104";
}

.hk-devs-icn-expand-more:before {
    content: "\f105";
}

.hk-devs-icn-faqs:before {
    content: "\f106";
}

.hk-devs-icn-ff-services:before {
    content: "\f107";
}

.hk-devs-icn-logout:before {
    content: "\f108";
}

.hk-devs-icn-search:before {
    content: "\f109";
}

.hk-devs-icn-settings:before {
    content: "\f10a";
}

.hk-devs-icn-tools:before {
    content: "\f10b";
}

.hk-devs--shimmer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.hk-devs--shimmer,
.hk-devs--shimmer > div {
    position: absolute
}

@-webkit-keyframes hk-devs-placeHolderShimmer {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes hk-devs-placeHolderShimmer {
    0% {
        background-position: -200px 0
    }

    to {
        background-position: 468px 0
    }
}

.hk-devs-hz__shimmer {
    height: 20px;
    width: 100%
}

.hk-devs-hz__shimmer-animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: hk-devs-placeHolderShimmer;
    animation-name: hk-devs-placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eaf1f5), color-stop(18%, #f5f5f5), color-stop(33%, #eaf1f5));
    background: -o-linear-gradient(left, #eaf1f5 8%, #f5f5f5 18%, #eaf1f5 33%);
    background: linear-gradient(90deg, #eaf1f5 8%, #f5f5f5 18%, #eaf1f5 33%);
    background-size: 800px 104px;
    border-radius: 20px;
    height: 100%;
    position: relative
}

.hk-devs-shimmer__sb-loader {
    height: 32px;
    position: absolute;
    right: 373px;
    top: 20px;
    width: 228px
}

.hk-devs-shimmer__sb-loader--displaced {
    right: 188px
}

.hk-devs-shimmer__profile-loader {
    height: 20px;
    position: absolute;
    right: 4px;
    top: 26px;
    width: 76px
}

.hk-devs-shimmer__profile-loader > div {
    border-radius: 24px
}

.hk-devs-shimmer__nc-loader {
    height: 36px;
    position: absolute;
    right: 104px;
    top: 18px;
    width: 36px
}

.hk-devs-shimmer__lg-rg-loader {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: absolute;
    right: 150px;
    top: 20px
}

.hk-devs-shimmer__lg-rg-loader > div {
    height: 30px;
    width: 90px
}

.hk-devs-shimmer__lg-rg-loader > div > div {
    border-radius: 24px
}

.hk-devs-shimmer__lg-rg-loader > div:last-child {
    margin-left: 12px
}

.hk-devs-shimmer__nav-loader {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    left: 202px;
    position: absolute;
    right: 0;
    top: 26px
}

.hk-devs-shimmer__nav-loader--displaced {
    left: 469px
}

.hk-devs-shimmer__nav-loader > div {
    width: 80px
}

.hk-devs-shimmer__nav-loader > div > div {
    border-radius: 24px
}

.hk-devs-shimmer__nav-loader > div:not(:last-child) {
    margin-right: 16px
}

.hk-devs-shimmer__rm-loader {
    height: 20px;
    position: absolute;
    right: 0;
    top: 26px;
    width: 120px
}

.hk-devs-shimmer__rm-loader > div {
    border-radius: 24px
}

.hk-devs-shimmer__logo-loader {
    height: 25px;
    position: absolute;
    top: 24px;
    width: 147px
}

.hk-devs-shimmer__logo-loader > div {
    border-radius: 24px
}

.hk-devs-backdrop {
    background: #121224;
    background: var(--N800, #121224);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
    width: 100%;
    z-index: 98
}

.hk-devs-backdrop--show {
    opacity: .3;
    pointer-events: all
}

.hk-devs-icon-badge {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-item-align: center;
    align-items: center;
    align-self: center;
    background-color: #f04141;
    background-color: var(--I100, #f04141);
    border: 1px solid #fff;
    border: 1px solid var(--N100, #fff);
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    color: var(--N100, #fff);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    height: 16px;
    justify-content: center;
    line-height: 14px;
    margin-top: -4px;
    position: absolute;
    width: 16px
}

.hk-devs-dropdown {
    background-color: #fff;
    background-color: var(--N100, #fff);
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #f7f7f9;
    border: 1px solid var(--N300, #f7f7f9);
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    -webkit-box-shadow: var(--box-shadow1, 0 6px 12px rgba(30, 10, 58, .04));
    box-shadow: var(--box-shadow1, 0 6px 12px rgba(30, 10, 58, .04));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #275df5;
    color: var(--P100, #275df5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    line-height: 1;
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;
    padding: 30px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 42px;
    -webkit-transition: opacity 50ms ease-out;
    -o-transition: opacity 50ms ease-out;
    transition: opacity 50ms ease-out;
    width: 180px;
    z-index: 9999
}

.hk-devs-dropdown.hk-devs-Jobs {
    left: -236px;
    width: 774px
}

.hk-devs-dropdown--displaced.hk-devs-Companies {
    left: -336px
}

.hk-devs-dropdown--displaced.hk-devs-Services {
    left: -550px
}

.hk-devs-dropdown--expand {
    opacity: 1;
    pointer-events: all
}

.hk-devs-dropdown__c2 {
    left: -200px;
    width: 560px
}

.hk-devs-dropdown__c3 {
    left: -200px;
    width: 710px
}

.hk-devs-dropdown__c4 {
    left: -276px;
    width: 875px
}

.hk-devs-dropdown li:hover > a div:after {
    content: none
}

.hk-devs-dropdown .hk-devs-1__headerAnchor {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px
}

.hk-devs-dropdown .hk-devs-1__headerAnchor .hk-devs-red-dot {
    border: 3px solid #fff;
    border: 3px solid var(--N100, #fff);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    height: 8px;
    position: relative;
    right: 2px;
    top: -3px;
    width: 8px
}

.hk-devs-dropdown__by {
    color: #717b9e;
    color: var(--N600, #717b9e);
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 3px;
    position: relative;
    top: 2px
}

.hk-devs-dropdown__icon {
    height: 14px;
    margin: 0 4px;
    position: relative;
    top: 5px
}

.hk-devs-dropdown__text {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 9px;
    position: relative;
    top: 1.5px;
    vertical-align: middle
}

.hk-devs-dropdown__submenu {
    left: 100%;
    position: absolute;
    top: -7px
}

ul.hk-devs-dropdownMenuGroup {
    -webkit-box-shadow: 1px 0 0 #e7e7f1;
    box-shadow: 1px 0 0 #e7e7f1;
    -webkit-box-shadow: 1px 0 0 var(--N400, #e7e7f1);
    box-shadow: 1px 0 0 var(--N400, #e7e7f1);
    margin: 0;
    padding: 0 30px !important
}

ul.hk-devs-dropdownMenuGroup li:first-of-type {
    margin-top: 0
}

ul.hk-devs-dropdownMenuGroup li:not(.hk-devs-menuItems):not(:first-of-type) {
    margin-top: 32px
}

ul.hk-devs-dropdownMenuGroup li {
    margin-top: 12px
}

ul.hk-devs-dropdownMenuGroup li a {
    color: #474d6a;
    color: var(--N700, #474d6a);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px
}

ul.hk-devs-dropdownMenuGroup li:hover > a:not(.hk-devs-1__headerAnchor) {
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease
}

ul.hk-devs-dropdownMenuGroup li:hover > a:not(.hk-devs-1__headerAnchor):hover {
    color: #275df5;
    color: var(--P100, #275df5);
    cursor: pointer
}

ul.hk-devs-dropdownMenuGroup li:hover > a:not(.hk-devs-1__headerAnchor):active {
    color: "lighten($hover, 10%)"
}

ul.hk-devs-dropdownMenuGroup li:hover > a:not(.hk-devs-1__headerAnchor):focus {
    color: #275df5;
    color: var(--P100, #275df5)
}

ul.hk-devs-dropdownMenuGroup:last-child {
    -webkit-box-shadow: none;
    -webkit-box-shadow: initial;
    box-shadow: none
}

.hk-devs-menuItems {
    cursor: default;
    list-style-type: none;
    position: relative
}

.hk-devs-menuItems a {
    color: #474d6a;
    color: var(--N700, #474d6a);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    padding-right: 0
}

.hk-devs-menuItems a,
.hk-devs-menuItems__anchorDropdown {
    font-weight: 500;
    line-height: 20px;
    text-decoration: none
}

.hk-devs-menuItems__anchorDropdown {
    color: #121224;
    color: var(--N800, #121224);
    display: block;
    font-size: 15px;
    padding-right: 32px
}

.hk-devs-menuItems__anchorDropdown div {
    position: relative
}

.hk-devs-menuItems__anchorDropdown--active > div {
    color: #121224;
    color: var(--N800, #121224)
}

.hk-devs-menuItems__anchorDropdown--active > div:after {
    background-color: #f05537;
    background-color: var(--S100, #f05537);
    border-radius: 2px;
    content: "";
    height: 4px;
    left: 0;
    margin-left: 5%;
    position: absolute;
    top: 24px;
    width: 90%
}

.hk-devs-menuItems__anchorDropdown .hk-devs-red-dot {
    right: -15px;
    top: -4px
}

.hk-devs-menuItems__item-count {
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #ffedf2;
    border: 1px solid var(--A100, #ffedf2);
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f05537;
    color: var(--S100, #f05537);
    font-size: 11px;
    font-weight: 700;
    height: 24px;
    line-height: 14px;
    margin-left: 10px;
    max-width: 100px;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hk-devs-menuIcon {
    color: #474d6a;
    color: var(--N700, #474d6a);
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-left: 2px;
    vertical-align: middle
}

.hk-devs-menuIcon:before {
    font-weight: 600
}

a.promotions {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 194px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

a.promotions .hk-devs-menuItems__item-count {
    display: none
}

[dir=ltr] .hk-devs-menus {
    padding-left: 0
}

[dir=rtl] .hk-devs-menus {
    padding-right: 0
}

.hk-devs-menus {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 208px;
    margin: 0;
    opacity: 1;
    pointer-events: all;
    position: relative;
    position: absolute;
    top: 24px;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hk-devs-menus--expand {
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.hk-devs-menus--displaced {
    left: 469px
}

.hk-devs-menus > li {
    margin-right: 36px;
    padding-bottom: 24px
}

.hk-devs-selected > a {
    color: #121224;
    color: var(--N800, #121224)
}

.hk-devs-selected > a > div:after {
    background-color: #f05537;
    background-color: var(--S100, #f05537);
    border-radius: 6px;
    content: "";
    height: 5px;
    left: 0;
    margin-left: 5%;
    position: absolute;
    top: 24px;
    width: 90%
}

.hk-devs-custom-Jobs .hk-devs-dropdown {
    left: -48px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.hk-devs-custom-Jobs .hk-devs-dropdown > ul > li > a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}


.hk-devs-company-logo {
    color: #121224;
    color: var(--N800, #121224);
    color: #717b9e;
    color: var(--N600, #717b9e);
    display: inline-block;
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-size: 15px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    top: 4px
}


.hk-devs-,
button,
input {
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-weight: 400
}

.hk-devs- {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    min-width: 1200px;
    position: sticky;
    top: 0;
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: -webkit-box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
    z-index: 99
}

.hk-devs-,
.hk-devs- .hk-devs-__placeholder {
    background-color: #fff;
    background-color: var(--N100, #fff);
    height: 72px
}

.hk-devs- .hk-devs-__placeholder {
    position: absolute;
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 100%
}

.hk-devs- .hk-devs-__placeholder--expand {
    height: 170px;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.hk-devs---scrolled {
    -webkit-box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    -webkit-box-shadow: var(--box-shadow1, 0 6px 12px rgba(30, 10, 58, .04));
    box-shadow: var(--box-shadow1, 0 6px 12px rgba(30, 10, 58, .04))
}

.hk-devs-__wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    width: 1120px
}

.hk-devs-__logo {
    height: 20.44px;
    position: absolute;
    top: 24px
}

[dir=ltr] .hk-devs-middleMenu {
    padding-left: 0
}

[dir=rtl] .hk-devs-middleMenu {
    padding-right: 0
}

.hk-devs-middleMenu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hk-devs-middleMenu > li {
    height: 34px;
    list-style-type: none
}

.hk-devs-middleMenu > li > a {
    color: #979ec2;
    color: var(--N500, #979ec2);
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding-right: 32px;
    text-decoration: none
}

.hk-devs-middleMenu > li > a > div {
    position: relative
}

.hk-devs-foremp {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
    padding-bottom: 34px;
    padding-left: 10px;
    pointer-events: all;
    position: absolute;
    right: 2px;
    top: 26px;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hk-devs-foremp--expand {
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.hk-devs-foremp > a {
    border-left: 1px solid #e7e7f1;
    border-left: 1px solid var(--N400, #e7e7f1);
    color: #474d6a;
    color: var(--N700, #474d6a);
    padding-left: 12px
}

.hk-devs-foremp > a > div:first-child:after {
    margin-left: 3px;
    width: 78%
}


.hk-devs-app-store .hk-devs-description,
.hk-devs-app-store .hk-devs-title {
    color: #121224;
    color: var(--N800, #121224);
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-size: 15px;
    line-height: 20px
}

.hk-devs-app-store {
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #e7e7f1;
    border: 1px solid var(--N400, #e7e7f1);
    border-radius: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 102px;
    margin-left: 93px;
    padding: 24px;
    position: relative;
    z-index: 0
}

.hk-devs-app-store .hk-devs-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px
}

.hk-devs-app-store .hk-devs-description {
    color: #474d6a;
    color: var(--N700, #474d6a);
    font-size: 13px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 5px
}

.hk-devs-app-store .hk-devs-app-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px
}

.hk-devs-app-store .hk-devs-app-cont > a:first-child,
.hk-devs-appdownload:first-of-type {
    margin-right: 12px
}


.hk-devs-followus a {
    color: #121224;
    color: var(--N800, #121224);
    display: inline-block;
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-size: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    line-height: 18px;
    margin-right: 19px;
    padding: initial
}

.hk-devs-followus .hk-devs-heading {
    display: block;
    padding: 38px 0 12px
}

.hk-devs-followus .hk-devs-heading:hover {
    color: #121224;
    color: var(--N800, #121224)
}


.hk-devs-anchorList .hk-devs-wrap .hk-devs-column a {
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-size: 15px;
    line-height: 20px
}

.hk-devs-anchorList .hk-devs-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column {
    margin-left: 60px
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column a {
    color: #121224;
    color: var(--N800, #121224);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column a:hover {
    color: #275df5;
    color: var(--P100, #275df5);
    cursor: pointer
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column a:active {
    color: "lighten($hover, 10%)"
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column a:focus {
    color: #275df5;
    color: var(--P100, #275df5)
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-column ul li {
    line-height: 18px;
    padding-top: 16px
}

.hk-devs-anchorList .hk-devs-wrap .hk-devs-social-links {
    position: relative;
    top: 16px;
    width: 150px
}

.hk-devs-disclaimer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #717b9e;
    color: var(--N600, #717b9e);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 20px;
    margin-right: 137px;
    width: 412px
}

.hk-devs-disclaimer-label {
    margin-left: 20px;
    width: 370px
}

.hk-devs-carousel-label {
    color: #717b9e;
    color: var(--N600, #717b9e);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 10px
}

.hk-devs-sc__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0
}

.hk-devs-slider {
    height: 40px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 460px
}


.hk-devs-footer {
    background-color: #fff;
    background-color: var(--N100, #fff);
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-weight: 400;
    min-height: 280px;
    padding: 60px 0
}

.hk-devs-footer__bottom-container,
.hk-devs-footer__top-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    border-radius: 0;
    border-radius: initial;
    -webkit-box-shadow: none;
    -webkit-box-shadow: initial;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0;
    width: 1120px
}

.hk-devs-footer__separator {
    background: #e7e7f1;
    background: var(--N400, #e7e7f1);
    height: 1px;
    margin: 40px auto;
    opacity: .8;
    width: 1120px
}

.hk-devs-log-reg {
    opacity: 1;
    pointer-events: all;
    position: absolute;
    right: 148px;
    top: 15px;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hk-devs-log-reg--expand {
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.hk-devs-log-reg > a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5);
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    outline: none;
    padding: 10px 20px;
    text-decoration: none
}

.hk-devs-log-reg .hk-devs-lg-rg__login {
    background-color: #fff;
    background-color: var(--N100, #fff);
    border-color: #275df5;
    border-color: var(--P100, #275df5);
    color: #275df5;
    color: var(--P100, #275df5);
    height: 40px;
    width: 82px
}

.hk-devs-log-reg .hk-devs-lg-rg__login:focus,
.hk-devs-log-reg .hk-devs-lg-rg__login:hover {
    background-color: #f7f7f9;
    background-color: var(--N300, #f7f7f9)
}

.hk-devs-log-reg .hk-devs-lg-rg__register {
    background-color: #f05537;
    background-color: var(--S100, #f05537);
    border-color: #f05537;
    border-color: var(--S100, #f05537);
    color: #fff;
    color: var(--N100, #fff);
    height: 40px;
    margin-left: 10px;
    width: 101px
}

.hk-devs-log-reg .hk-devs-lg-rg__register:focus,
.hk-devs-log-reg .hk-devs-lg-rg__register:hover {
    background-color: #fc7358
}
