.hk-devs-menuItems {
    cursor: default;
    list-style-type: none;
    position: relative
}

.hk-devs-menuItems a {
    color: #474d6a;
    color: var(--N700, #474d6a);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    padding-right: 0
}

.hk-devs-menuItems__item-count {
    background: #fff;
    background: var(--N100, #fff);
    border: 1px solid #ffedf2;
    border: 1px solid var(--A100, #ffedf2);
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f05537;
    color: var(--S100, #f05537);
    font-size: 11px;
    font-weight: 700;
    height: 24px;
    line-height: 14px;
    margin-left: 10px;
    max-width: 100px;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

[dir=ltr] .hk-devs-menus {
    padding-left: 0
}

[dir=rtl] .hk-devs-menus {
    padding-right: 0
}

.hk-devs-menus {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 208px;
    margin: 0;
    opacity: 1;
    pointer-events: all;
    position: relative;
    position: absolute;
    top: 24px;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hk-devs-menus>li {
    margin-right: 36px;
    padding-bottom: 24px
}

.hk-devs-company-logo {
    color: #121224;
    color: var(--N800, #121224);
    color: #717b9e;
    color: var(--N600, #717b9e);
    display: inline-block;
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-size: 15px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    top: 4px
}

.hk-devs-,
button,
input {
    font-family: Satoshi;
    font-family: var(--font-family, "Satoshi");
    font-weight: 400
}

.hk-devs- {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    min-width: 1200px;
    position: sticky;
    top: 0;
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: -webkit-box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
    z-index: 99
}

.hk-devs-,
.hk-devs- .hk-devs-__placeholder {
    background-color: #fff;
    background-color: var(--N100, #fff);
    height: 72px
}

.hk-devs-__wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    width: 1120px
}

.hk-devs-__logo {
    height: 20.44px;
    position: absolute;
    top: 24px
}

.hk-devs-footer__separator {
    background: #e7e7f1;
    background: var(--N400, #e7e7f1);
    height: 1px;
    margin: 40px auto;
    opacity: .8;
    width: 1120px
}

.hk-devs-log-reg {
    opacity: 1;
    pointer-events: all;
    position: absolute;
    right: 148px;
    top: 15px;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s
}

.hk-devs-log-reg>a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #275df5;
    border: 1px solid var(--P100, #275df5);
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    outline: 0;
    padding: 10px 20px;
    text-decoration: none
}

.hk-devs-log-reg .hk-devs-lg-rg__login {
    background-color: #fff;
    background-color: var(--N100, #fff);
    border-color: #275df5;
    border-color: var(--P100, #275df5);
    color: #275df5;
    color: var(--P100, #275df5);
    height: 40px;
    width: 82px
}

.hk-devs-log-reg .hk-devs-lg-rg__login:focus,
.hk-devs-log-reg .hk-devs-lg-rg__login:hover {
    background-color: #f7f7f9;
    background-color: var(--N300, #f7f7f9)
}

.hk-devs-log-reg .hk-devs-lg-rg__register {
    background-color: #f05537;
    background-color: var(--S100, #f05537);
    border-color: #f05537;
    border-color: var(--S100, #f05537);
    color: #fff;
    color: var(--N100, #fff);
    height: 40px;
    margin-left: 10px;
    width: 101px
}

.hk-devs-log-reg .hk-devs-lg-rg__register:focus,
.hk-devs-log-reg .hk-devs-lg-rg__register:hover {
    background-color: #fc7358
}