.homepage .widget-placeholder {
    min-height: 100vh
}

.homepage .hkdevs-js-wdgt {
    margin: 35px 0;
    display: inline-block;
    padding: 0;
    box-shadow: none
}

.homepage .hkdevs-js-wdgt.hkdevs-homepage-register-widget {
    margin: 28px 0 0
}

.homepage .hkdevs-js-wdgt.trending-hkdevs-wdgt {
    overflow: visible;
    margin: 0 0 5px;
    padding-top: 15px
}

.homepage .hkdevs-js-wdgt.hkdevs-homepage-qsb-header-wdgt {
    margin: 80px 0 28px;
    background: inherit !important
}

.homepage .hkdevs-js-wdgt.hkdevs-homepage-industry-wdgt {
    overflow: visible
}

.homepage .hkdevs-js-wdgt.hkdevs-homepage-industry-wdgt.hkdevs-js-wdgt {
    margin-top: 35px;
    margin-bottom: 0
}

.homepage .hkdevs-js-wdgt.ni-desktop-homepage-v2_mainSection_homepageEventsWdgt_event {
    margin-top: 1px;
    margin-bottom: 1px
}

.homepage #mainSection\.branding-premium .hkdevs-js-wdgt {
    margin: 35px 0
}