div .verticalTrack {
    opacity: 0 !important;
    transition: all .3s !important
}

div .verticalTrack:hover {
    opacity: 1 !important;
    background: #d9d9d9 !important;
    transition: all .3s !important
}

div .verticalThumb:hover {
    background: #a0a0a0 !important
}

div .verticalTrack:hover {
    width: 10px !important
}

div:hover>.verticalTrack {
    opacity: 1 !important;
    transition: all .3s !important
}

.suggestor-tag {
    padding: 4px 8px 6px;
    font-weight: 600;
    background-color: #f1f9fe;
    color: #010c1f;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 2px
}

.suggestor-tag {
    border: 1px solid #add9fb
}

.suggestor-tag .star {
    color: #8993a4;
    cursor: pointer
}

.suggestor-tag .leading-icon,
.suggestor-tag .star {
    font-size: 14px;
    margin-right: 4px
}

.suggestor-tag.active .star {
    color: #0078db
}

.flex-row {
    display: flex
}

.flex-wrap {
    flex-wrap: wrap
}

@-webkit-keyframes slide {
    0% {
        top: calc(100% + 10px);
        opacity: 0
    }

    to {
        top: calc(100% + 2px);
        opacity: 1
    }
}

@keyframes slide {
    0% {
        top: calc(100% + 10px);
        opacity: 0
    }

    to {
        top: calc(100% + 2px);
        opacity: 1
    }
}

.suggestor-wrapper {
    position: relative
}

.suggestor-wrapper.active .suggestor-box {
    border-color: #0078db !important
}

.suggestor-wrapper .suggestor-box {
    position: relative;
    width: 100%;
    border: 1px solid #dbdde6;
    border-radius: 4px;
    padding: 4px 12px
}

.suggestor-wrapper .suggestor-box .suggestor-input {
    border: none;
    flex-grow: 1;
    min-width: 145px;
    font-size: 14px;
    line-height: 20px;
    color: #091e42;
    padding: 8px 0;
    font-weight: 500
}

.suggestor-wrapper .suggestor-box .suggestor-input:active,
.suggestor-wrapper .suggestor-box .suggestor-input:focus {
    outline: 0
}

li,
ul {
    list-style-type: none
}

.qsbWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family, "Satoshi")
}

.qsbWrapper .qsb {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 25px 60px rgba(113, 106, 147, .2);
    border-radius: 40px
}

.qsbWrapper .qsb .searchIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px
}

.qsbWrapper .qsb .keywordSugg .suggestor-box {
    width: 336.67px;
    padding-right: 10px
}

.qsbWrapper .qsb .suggestor-wrapper div:first-child div:first-child {
    overflow-y: unset !important
}

.qsbWrapper .qsb .suggestor-wrapper .suggestor-box {
    border: none;
    padding: unset
}

.qsbWrapper .qsb .suggestor-wrapper .suggestor-box .suggestor-input {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--N800)
}

.qsbWrapper .qsb .suggestor-wrapper .suggestor-box .suggestor-input::-webkit-input-placeholder {
    color: var(--N500);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px
}

.qsbWrapper .qsb .suggestor-wrapper .suggestor-box .suggestor-input:-ms-input-placeholder {
    color: var(--N500);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px
}

.qsbWrapper .qsb .suggestor-wrapper .suggestor-box .suggestor-input::placeholder {
    color: var(--N500);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px
}

.qsbWrapper .qsb .verticalTrack {
    background: 0 0 !important;
    border-radius: 42px !important
}

.qsbWrapper .qsb .verticalThumb {
    width: 4px !important;
    background: #e7e7f1 !important;
    border-radius: 42px !important
}

.qsbWrapper .qsb .qsbSubmit {
    margin-left: 14px;
    padding: 10px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: var(--P100);
    border-radius: 40px;
    color: #fff;
    cursor: pointer
}