.hkdevs-wdgt {
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden
}

.hkdevs-wdgt .wdgt-track-view {
    line-height: 1px;
    height: 1px
}

.hkdevs-html-wdgt {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

.hkdevs-js-wdgt {
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 106, 194, .2);
    box-shadow: 0 1px 4px 0 rgba(0, 106, 194, .2);
    margin: 0 0 10px 0;
    padding: 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.hkdevs-js-wdgt * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: break-word
}

.hkdevs-js-wdgt ul {
    list-style: none
}

.hkdevs-js-wdgt ul li {
    list-style-type: none
}

.hkdevs-js-wdgt a,
.hkdevs-js-wdgt a:focus,
.hkdevs-js-wdgt a:hover,
.hkdevs-js-wdgt a:visited {
    text-decoration: none
}

#document-section-widgets .hkdevs-wdgt {
    min-width: auto !important;
    min-height: auto !important;
    width: 0 !important;
    height: 0 !important
}

.wdgt-overlay-container {
    position: fixed;
    z-index: 999999
}

.wdgt-overlay-container.wdgt-overlay-top-left {
    top: 100px;
    left: 36px
}

.wdgt-overlay-container.wdgt-overlay-bottom-left {
    bottom: 100px;
    left: 36px
}

.wdgt-overlay-container.wdgt-overlay-bottom-right {
    bottom: 100px;
    right: 36px
}

.wdgt-overlay-container.wdgt-overlay-top-right {
    top: 100px;
    right: 36px
}

@media only screen and (max-width:668px) {

    .wdgt-overlay-container.wdgt-overlay-bottom-left,
    .wdgt-overlay-container.wdgt-overlay-bottom-right {
        right: 36px;
        bottom: 100px;
        left: 36px
    }

    .wdgt-overlay-container.wdgt-overlay-top-left,
    .wdgt-overlay-container.wdgt-overlay-top-right {
        left: 36px;
        top: 100px;
        right: 36px
    }
}

.hkdevs-trending-container {
    padding: 20px 0 30px
}

.hkdevs-trending-container .ntc__heading {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--N800, #121224)
}

.hkdevs-trending-container .ntc__chips-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 28px
}

.hkdevs-trending-container .ntc__chips-row:last-child {
    margin-bottom: 0;
    padding: 0 85.5px
}

.hkdevs-trending-container .ntc__chips-row:nth-child(3) .ntc__chip-label {
    max-width: 95px
}

.hkdevs-trending-container .ntc__chips-row:nth-child(3) .ntc__chip-wrapper {
    width: unset
}

.hkdevs-trending-container .ntc__chip-wrapper {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e7e7f1;
    -webkit-box-shadow: 0 6px 12px var(--Ev100, rgba(30, 10, 58, .04));
    box-shadow: 0 6px 12px var(--Ev100, rgba(30, 10, 58, .04));
    border-radius: 10px;
    padding: 16px;
    margin-right: 16px
}

.hkdevs-trending-container .ntc__chip-wrapper:last-child {
    margin-right: 0
}

.hkdevs-trending-container .ntc__chip-wrapper:hover {
    -webkit-box-shadow: 0 14px 40px var(--Ev400, rgba(30, 10, 58, .1));
    box-shadow: 0 14px 40px var(--Ev400, rgba(30, 10, 58, .1))
}

.hkdevs-trending-container .ntc__chip-logo {
    min-width: 38px;
    max-width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden
}

.hkdevs-trending-container .ntc__chip-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--N800, #121224);
    margin-right: 6px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px
}

.hkdevs-trending-container .ntc__chip-arrow {
    position: relative;
    overflow: hidden
}